# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore self-installed modules
sites/*/modules/*
*.png~HEAD
profiles/idea/themes/contrib/bootstrap/starterkits/less/screenshot.png~refs_remotes_origin_master
sites/all/themes/sunrise/Thumbs.db
profiles/idea/modules/contrib/quicktabs/Thumbs.db